# Progress report

Lab members are annotated in *italics*. 

{% for item in references %}
#.  {% if item.crednote != "" %}{{item.author | replace("Sheffield", "\*Sheffield")}}{% else %}{{ item.author }}{% endif %}. {{ item.title }}. **{{ item.year }}**. *{{ item.journal }}*{% if item.volume != "" %} {{ item.volume }}{% endif %}{% if item.pages != "" %}:{{ item.pages }}{% endif %}.{% if item.doi != "" %} {% if item.pmcid != "" %}PMCID:{{ item.pmcid }}{% endif %} DOI: [{{ item.doi }}](http://dx.doi.org/{{ item.doi }}).{% endif %}{% if item.crednote != "" %} \*{{item.crednote}}.{% endif %}{% if item.funding_sources != "" %}
    - \small Funding sources: {{item.funding_sources}} {% if item.funding_contribution != "" %}
    - Grant contribution: {{item.funding_contribution}} {% endif %}{% endif %}
{% endfor %}
