{{ _global_frontmatter.fenced }}
{% if not exclude_specific_aims %}
{{ specific_aims }}
{% endif %}

{% if significance_innovation is defined and significance_innovation != None %}{{ significance_innovation }}{% endif %}

{% if aim1 is defined and aim1 != None %}{{ aim1 }}{% endif %}

{% if aim2 is defined and aim2 != None %}{{ aim2 }}{% endif %}

{% if aim3 is defined and aim3 != None %}{{ aim3 }}{% endif %}

{% if aim4 is defined and aim4 != None %}{{ aim4 }}{% endif %}

{% if aim5 is defined and aim5 != None %}{{ aim5 }}{% endif %}

{% if not exclude_refs %}
\newpage

# References

{% endif %}
