{{ _global_frontmatter.fenced }}
{% if not exclude_specific_aims %}
{{ specific_aims }}
{% endif %}

{{ significance_innovation }}

{{ aim1 }}

{% if aim2 is defined %}{{ aim2 }}{% endif %}

{% if aim3 is defined %}{{ aim3 }}{% endif %}

{% if not exclude_refs %}
\newpage

# References

{% endif %}
