---
{% if manuscript.metadata_yaml is defined %}{{ manuscript.metadata_yaml }}{% endif %}{% if manuscript_metadata is defined %}{{ manuscript_metadata["raw"] }}{% endif %}---

{{ manuscript.content }}

\newpage
\onecolumn

{{ supplement.content }}

{{manuscript_metadata}}