{% for pub in references %}{% if selection is defined and selection in pub.groups %}
###### {% if pub.title != "" %}[{{ pub.title }}](http://dx.doi.org/{{ pub.doi }}){% endif %}. {% if pub.journal != "" %} ({{ pub.author_short }} {{ pub. year }}){% endif %}
{% endif %}{% endfor %}