{{ _global_frontmatter.fenced }}

\vspace*{\fill}

{{ content }}

{{ signature }}

\vspace*{\fill}

{% if _global_frontmatter.dict.references %}
# References

<div class="multi-refs"></div>
{% endif %}
