{{ _global_frontmatter.fenced }}

\vspace*{\fill}

{% if letter is defined and letter.date %}{{ letter.date }}{% else %}\today{% endif %}

{{to}}

{{content}}

Sincerely,

![]({{signer.sigimage}})  
{{signer.fname}} {{signer.lname}}, {{signer.suffix}}  
{{signer.title}}, {{signer.affiliation}}  
{{signer.web}}  
{{signer.phone}}

\vspace*{\fill}
